/*Style for student page*/

p {
  font-size: 14px;
}
#footer {
  text-align: center;
}

body {
<<<<<<< HEAD
  background-color: pink;
=======
  background-color: pink; 
>>>>>>> dd1d2580cd549878c12a43b9c36632c01706824e
}
